<!DOCTYPE HTML>
<html>
	<head>
		
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!---start-wrap---->
	<div class="wrap">
		<!---start-header---->
	<div class="container">



  <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/pages/landing" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
<!--             <a href="#" class="btn btn-info">Snippets</a>
            <a href="#" class="btn btn-info">Breadcrumbs</a> -->
            <a href="/pages/brands" class="btn btn-info">Brands</a>
        </div>
	</div>


	<div class="content">
		<h4>Our Brands</h4>
	 <br>
	 <br>

	
	<div class="brand-list">
	<div class="brand-row">
		<div class="col-md-3">
			<figure><%= link_to (image_tag "euro.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/euro-spec" %> </figure>
		</div>	
		<div class="col-md-3">
		<figure><%= link_to (image_tag "de.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/deleau" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "carlcoll.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/carlisle-brass-collections" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "finger.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/fingertip" %> </figure>
	</div>
	</div>
		<div class="brand-row">
	<div class="col-md-3">
		<figure><%= link_to (image_tag "eurol.jpg", class: 'img-thumbnail'), "http://eurolite.co.uk/" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "lud.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/ludlow-foundriesq" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "sero.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/serozzetta" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "delm.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/delamain" %> </figure>
	</div>
	</div>
		<div class="brand-row">
	<div class="col-md-3">
		<figure><%= link_to (image_tag "mani.jpg", class: 'img-thumbnail'), "http://www.carlislebrass.com/brands/manital" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "saheco.jpg", class: 'img-thumbnail'), "http://www.saheco.com/world/en/products/" %> </figure>
	</div>
	<div class="col-md-3">
		<figure><%= link_to (image_tag "yale.png", class: 'img-thumbnail'), "http://www.yale.co.uk/en/yale/couk/" %> </figure>
	</div>
	</div>

	</div>


	

</div>
</div>
</div>
</body>
</html>

