<!DOCTYPE HTML>
<html>
	<head>
		
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!---start-wrap---->
	<div class="wrap">
		<!---start-header---->
	<div class="container">



  <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/pages/landing" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
<!--             <a href="#" class="btn btn-info">Snippets</a>
            <a href="#" class="btn btn-info">Breadcrumbs</a> -->
            <a href="/pages/knowledge" class="btn btn-info">Knowledge</a>
        </div>
	</div>


	<div class="content">
		<h4>Knowledge Centre</h4>
	 <br>
	 <br>

	
	<div class="brand-list">
		<div class="icon-row">	
	<div class="icon">	
		<div class="col-md-4">
			<figure><%= link_to (image_tag "info.png"), "http://www.carlislebrass.com/careinstruction" %> </figure>
			<h6>Care Instructions</h6>
		</div>	
	</div>
	<div class="icon">	
		<div class="col-md-4">
			<figure><%= link_to (image_tag "three.png"), "http://www.carlislebrass.com/datasheet" %> </figure>
			<h6>Datasheets</h6>
		</div>
	</div>
	<div class="icon">	
		<div class="col-md-4">
			<figure><%= link_to (image_tag "certificate.png"), "http://www.carlislebrass.com/certificate" %> </figure>
			<h6>DOP Certificates</h6>
		</div>
	</div>
	</div>
	<div class="icon-row">	
	<div class="icon">	
		<div class="col-md-4">
			<figure><%= link_to (image_tag "brochure.png"), "http://www.carlislebrass.com/ebrochure" %> </figure>
			<h6>E-Brochures</h6>
		</div>
	</div>
	<div class="icon">	
		<div class="col-md-4">
			<figure><%= link_to (image_tag "guide.png"), "http://www.carlislebrass.com/specialist-technical-information" %> </figure>
			<h6>Technical Information</h6>
		</div>
	</div>
	<div class="icon">		
		<div class="col-md-4">
			<figure><%= link_to (image_tag "project.png"), "http://www.carlislebrass.com/project" %> </figure>
			<h6>Specification Projects</h6>
		</div>
	</div>
</div>
	</div>

</div>
</div>

		<div class="clear"> </div> 
	</div> 
</body>
</html>

