<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>Deluxe Website Template | Home :: W3layouts</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/responsiveslides.min.js"></script>
		  <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {
			
			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 1600,
			        speed: 600
			      });
			});
		  </script>
	</head>
	<body>

		<!---End-header---->
	



		<!--start-image-slider---->
		<!-- 	<div class="image-slider"> -->
				<!-- Slideshow 1 -->
				<!--   <ul class="rslides" id="slider1">
					      <li><%= image_tag "slider1.jpg", class: 'image' %></li>
					      <li><%= image_tag "slider2.jpg", class: 'image' %></li>
					      <li><%= image_tag "slider3.jpg", class: 'image' %></li>
				  </ul> -->
				 <!-- Slideshow 2 -->
			<!-- </div> -->
		<!--End-image-slider---->




<div class="container">

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">

        <hgroup>
            <h1>Extensive Range</h1>        
            <h3>Get start your next  project</h3>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Clean Design</h1>        
            <h3>Get start your next  project</h3>
        </hgroup>       
<!--         <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Trustworthy/h1>        
            <h3>Get start your next project</h3>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
  </div> 
</div>







	<div class="clear"> </div>	
	<!---start-content---->	
	<!-- <div class="content">
		<div class="grids">
			<div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					  <h3>Welcome!</h3>
					  <img src="images/g1.jpg">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <div class="button"><span><a href="#">Read More</a></span></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <h3>Our Team</h3>
					   <img src="images/g2.jpg">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <div class="button"><span><a href="#">Read More</a></span></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3 last">
					<h3>Services</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <ul>
				     	<li><a href="#">consectetur adipisicing elit</a></li>
				     	<li><a href="#">eiusmod tempor incididunt ut</a></li>
				     	<li><a href="#">dolore magna aliqua. Duis</a></li>
				     	<li><a href="#">empor incididunt ut labore et</a></li>
				     	<li><a href="#">sit amet, consectetur adipisicing</a></li>
				     	<li><a href="#">dolore magna aliqua. Duis</a></li>
				     </ul>
				     <div class="button"><span><a href="#">Read More</a></span></div>
				</div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="box">
			<div class="left-box">
				<h3>What People Say About Us</h3>
				<div class="left-box1 frist-box">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit, sed in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<h5>consectetur adipisicing elit</h5>
					<span>voluptate velit esse cillum dolore eu</span>
				</div>
				<div class="left-box1">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit, sed in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<h5>consectetur adipisicing elit</h5>
					<span>voluptate velit esse cillum dolore eu</span>
				</div>
				<div class="clear"> </div>
				<a href="#">See all</a>
			</div>
			<div class="right-box">
				<h3>Our News</h3>
				<div class="right-box-grid">
					<div class="right-box-grid-img">
						<a href="#"><img src="images/n1.jpg" title="img" /></a>
					</div>
					<div class="right-box-grid-info">
						<span>02 March 2013</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit,</p>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="right-box-grid">
					<div class="right-box-grid-img">
						<a href="#"><img src="images/n1.jpg" title="img" /></a>
					</div>
					<div class="right-box-grid-info">
						<span>02 March 2013</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit,</p>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="seeall">
					<a href="#">See all</a>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<!---End-content---->	
	<!-- <div class="clear"> </div>

	



<!--about-->
	<div id="about" class="about">
		<div class="container">
			<div class="title">
	<!-- 			<h3>About Us </h3> -->
				<!-- <p>Duis euismod massa ut sem fringilla blandit. Proin vel enim nec ipsum finibus. </p> -->
			</div>
			<div class="about-row">
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
					<h4>Our huge product range</h4>
					<p>We have thousands of products for you to choose from</p>
					<h6> </h6>
				</div>
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
					<h4>Exclusive retailer</h4>
					<p>We are the exclusive</p>
					<h6> </h6>
				</div>
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-star effect-1" aria-hidden="true"></span>
					<h4>We support you</h4>
					<p>Our promise is to provide excellent guidance before you buy or specify and exceptional support and service afterwards</p>
					<h6> </h6>
				</div>
				<div class="col-md-3 about-grids">
					<span class="glyphicon glyphicon-check effect-1" aria-hidden="true"></span>
					<h4>Any size</h4>
					<p>Feel free to ask our advice on your projects large and small</p>
					<h6> </h6>
				</div>
				<div class="clerfix"> </div>
			</div>
		</div>
	</div>
	<!--//about-->
	<!--features-->
	<div id="brands" class="brands">
		<div class="container">
			<div class="title">
				<h3>Brands</h3>
				<!-- <p>Duis euismod massa ut sem fringilla blandit. Proin vel enim nec ipsum finibus. </p> -->
			</div>
			<div class="col-md-3">
							<figure><%= link_to (image_tag "saheco.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/deleau" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "yale.png", class: 'img-circle'), "http://www.carlislebrass.com/brands/deleau" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "euro.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/euro-spec" %> </figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "eurol.jpg", class: 'img-circle'), "http://eurolite.co.uk/" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "carlcoll.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/carlisle-brass-collections" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "finger.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/fingertip" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "de.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/deleau" %></figure>
						</div>
					<div class="col-md-3">
							<figure><%= link_to (image_tag "lud.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/ludlow-foundriesq" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "sero.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/deleau" %></figure>
						</div>
						<div class="col-md-3">
							<figure><%= link_to (image_tag "mani.jpg", class: 'img-circle'), "http://www.carlislebrass.com/brands/deleau" %></figure>
						</div>
						
				

					
					<!-- <h2 id="demo08">8. Gray Scale</h2>
	<div class="hover08 column">
		<div>
			<figure><img src="http://nxworld.net/codepen/css-image-hover-effects/pic01.jpg" /></figure>
			<span>Hover</span>
		</div>
		<div>
			<figure><img src="http://nxworld.net/codepen/css-image-hover-effects/pic02.jpg" /></figure>
			<span>Hover</span>
		</div>
		<div>
			<figure><img src="http://nxworld.net/codepen/css-image-hover-effects/pic03.jpg" /></figure>
			<span>Hover</span>
		</div>
	</div> -->





		</div>
	</div>
	<!--//about-->





		</div>




		<div class="footer">
		<div class="footer-left">
			 <%= link_to (image_tag "lh.jpg", class: 'image'), root_path %>
		</div>

			<div class="footer-middle">
				<div class="col-md-4">
					 <h5><a href="/pages/brands">Our brands</a></h5>
					<ul>	
						<li> <p> Eurolite </p> </li>
						<li> <p> FingerTip </p> </li>
						<li> <p> De L'eau </p> </li>
						<li> <p> Ludlow </p> </li>
						<li> <p> Collection </p> </li>

					</ul>
				</div>
				<div class="col-md-4">
					 <h5><a href="/pages/contact">Contact</a></h5>
					<ul>	
						<li> <p> <p>Unit B, </p> </p> </li>
						<li> <p> Merrywell Business Park, </p> </li>
						<li> <p> Ballymount Rd Lower, </p> </li>
						<li> <p> Fox-And-Geese, </p> </li>
						<li> <p> Dublin </p> </li>

					</ul>
				</div>


				<div class="col-md-3">
				<div class="social">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/locksandhardware/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/lockandhardware" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="https://www.instagram.com/locksandhardware/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li> 
                       </ul>
                </div>
                </div>

                </div>

	


	<div class="footer-right">
			<!-- <p>Design by Ruth </p> -->
		</div>
		<div class="clear"> </div> 
	</div> 














	<!---End-wrap---->
	</body>
</html>

